.wishlist{
  .section-image-container{
    height:100px;
    background: url('images/gift-love.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  .card{

    .card-inner{
      height:100px;

      .btn-card{

      }
    }

  }
}
