html {
  position: relative;
  min-height: 100%;
  height:100%;
}

body {

  font-family: 'Source Sans Pro', sans-serif;
  height:100%;
}


.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}


.content-container{
  padding-left: 0;
  padding-right: 0;
  height:100%;
  section{
    margin-top: 20px;

    .title-container{
      @include block-underline($secondary-color-2);
      .section-title{
        text-align: center;
      }
    }

    .subtitle-container{

      margin-top:40px;
      .section-title{
        text-align: center;
      }
    }

    .subsection-title{
      text-align: center;
    }
  }
}